*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(228, 232, 225, 0.91);
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

 /* Design of navbar  */

.opage{
    color: rgba(2, 0, 84, 0.93);
    margin: 20px 25px;
    padding: 20px 25px;
    border: 2px solid black;
}

/* about heading */

.section {
    border: 5px solid rgba(28, 28, 43, 0.93);
    border-radius:20px;
    padding: 25px;
    margin: 25px 70px;
}

h1{
    margin:  50px 25px;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    font-family: sans-serif;
}

/* about articles  */

.articles{
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(41, 41, 61);
    border-radius: 25px;
   
}
 
/* topic of articles */

.abc{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

/* image of articles */

.images{
    width: 200px;
    height: 170px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 25px;

}

.parts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;

}

/* links to wikipedia */

.links{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(100, 99, 148);
    padding: 7px;
    margin: 7px;
}

/* topic of section */

h4{
    margin: 25px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* section about coffees */

.types-of-Tea-list {
    margin: 25px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.div1 {
    margin: 20px 120px;
    padding: 20px;
    width: 1400px;
    height: auto;
    display: flex;
}

.types{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.div2 {
    margin: 20px;
    padding: 50px;
    display: flex;
    border-left: 1px solid black;
}
.lists {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    justify-content: flex-start;
}

span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}


footer{
    display: flex;
    justify-content: center;
}

 .footer-content{
    margin: 50px;
    padding: 25px;
    width: 700px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(97, 80, 25, 0.64);
    border-radius: 70px;
 }

 .contact-info {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
 }

 .social{
    color: rgba(48, 36, 0, 0.67);
 }